@{
    ViewBag.Title = "Categories";
}
<div ng-app="categoryApp" ng-controller="RootController as vm"
     class="app-container">
    <ng-view ></ng-view>
</div>

@section scripts {
    <script src="~/app/category/categoryApp.js"></script>
    <script src="~/app/category/rootController.js"></script>
    <script src="~/app/category/CategoryDataService.js"></script>
    <script src="~/app/category/CategoryListCtrl.js"></script>
    <script src="~/app/category/CategoryCtrl.js"></script>
}